.nav-bar {
  background-color: #94bbe9;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 50px 40px;
}

.register-button {
  margin: 90px 40px;
}
